/* Calendar */
table.calendar		{ border-left:1px solid #999; }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:134.25px; padding:5px; vertical-align: top; border-bottom:1px solid #999; border-right:1px solid #999; }
td.calendar-day ul { margin-top: auto; }

.wp-crm-welcome-content{
	width: 100%;
}


#address_book_results,
#project_list_results,
#task_list_results,
#opportunity_list_results {
	margin-top: 10px;
}
.wpcrm-circle {
	border-radius: 50%;
}
#system-info-textarea {
	background: none;
	font-family: Menlo,Monaco,monospace;
	display: block;
	overflow: auto;
	white-space: pre;
	width: 800px;
	height: 400px;
}
.dashicons.wpcrm-dashicons:before {
	width: 13px;
	height: 13px;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	margin-top: 3px;
}
.wpcrm-dashicons-fax {
	background-image: url('../includes/images/fax.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 13px;
	margin-top: 3px;
	display: inline-block;
	padding-right: 3px;
}
.wp-crm-dashboard-boxes span.dashicons{
	color: #0073aa;
}
.wp-crm-widget {
	border-bottom: 1px solid #eee;
	font-size: 13px;
	padding: 8px 12px 10px;
}
.wp-crm-widget:last-child {
	border-bottom: none;
	padding-bottom: 8px;
}
.wpcrm-dashboard-calendar{
	float: left;
	margin-right: 15px;
}
.wpcrm-extension,
.wpcrm-dashboard {
	float: left;
	background: #fff;
	margin: 0 15px 15px 0;
	border: 1px solid #ccc;
	width: 300px;
	padding: 14px;
	min-height: 315px;
	position: relative;
}
.wp-crm-email {
	width:75%;
}
.wp-crm-dashboard-boxes {
	float: left;
	margin-left: 2.564102564102564%;
	width: 21.076923076923077%;
	background-color: #fff;
	padding: 1%;
	min-height: 210px;
	margin-bottom: 2.564102564102564%;
}
.wp-crm-inline{
	float:left;
	padding-right:3px;
}
.wp-crm-five-sixths,
.wp-crm-four-sixths,
.wp-crm-one-fourth,
.wp-crm-one-half,
.wp-crm-one-sixth,
.wp-crm-one-third,
.wp-crm-three-fourths,
.wp-crm-three-sixths,
.wp-crm-two-fourths,
.wp-crm-two-sixths,
.wp-crm-two-thirds,
.wp-crm-one-fifth {
	float: left;
	margin-left: 2.564102564102564%;
	line-height: 21px;
}
.wp-crm-one-half,
.wp-crm-three-sixths,
.wp-crm-two-fourths {
	width: 48.717948717948715%;
}

.wp-crm-one-third,
.wp-crm-two-sixths {
	width: 31.623931623931625%;
}

.wp-crm-four-sixths,
.wp-crm-two-thirds {
	width: 65.81196581196582%;
}

.wp-crm-one-fourth {
	width: 23.076923076923077%;
}

.wp-crm-three-fourths {
	width: 74.35897435897436%;
}

.wp-crm-one-fifth {
	width: 17.948718%;
}

.wp-crm-one-sixth {
	width: 14.52991452991453%;
}

.wp-crm-five-sixths {
	width: 82.90598290598291%;
}
.wp-crm-first {
	clear: both;
	margin-left: 0;
}
.about-wrap .wp-crm-one-half{
	margin: 1em 0 1em 0;
}

/* Upsell page */
ul.upsell-features {
	list-style: disc;
	margin-left: 20px;
}

@media only screen and (min-width: 1603px){
	.wpcrm-dashboard{
		margin: 0 15px 55px 0;
	}
}
@media only screen and (max-width: 960px) {
	.wp-crm-dashboard-boxes {
		width: 90%;
		margin-left: 0;
	}
	.wp-crm-five-sixths,
	.wp-crm-four-sixths,
	.wp-crm-one-fourth,
	.wp-crm-one-half,
	.wp-crm-one-sixth,
	.wp-crm-one-third,
	.wp-crm-three-fourths,
	.wp-crm-three-sixths,
	.wp-crm-two-fourths,
	.wp-crm-two-sixths,
	.wp-crm-two-thirds,
	.wp-crm-one-fifth {
		margin-left: 0;
		margin-top: 2.564102564102564%;
		width: 100%;
	}
}
