#system-info-textarea.wpcrm-system-help-tip {
    background: #000;
    color: #eee;
    padding: 2em;
    border: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    min-height: 400px;

    white-space: pre-wrap;
}